In [2]:
from datetime import datetime
from meteostat import Point, Daily, Hourly
import pandas as pd
from meteostat import Stations

In [3]:
current_date = datetime.now()
start = datetime(current_date.year -1, current_date.month, current_date.day)
end = datetime(current_date.year, current_date.month, current_date.day, current_date.hour-1, current_date.minute, current_date.second)

print(start)
print(end)

2024-08-25 00:00:00
2025-08-25 20:29:38

In [4]:
from retrieval import get_coordinates

In [5]:
lat, lng = get_coordinates("Calw")
lat

48.7127

In [6]:
stations = Stations()
stations = stations.nearby(lat, lng)
station = stations.fetch(1)

station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
7M2XN,Calw-hirsau,DE,BW,<NA>,<NA>,48.745,8.7301,329.0,Europe/Berlin,2018-05-23,2025-08-14,NaT,NaT,NaT,NaT,3704.963251

In [7]:
id = station.index.to_numpy()[0]
id

'7M2XN'

In [8]:
data = Hourly(id, start, end)
data = data.fetch()

df = pd.DataFrame(data)
df.head()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2024-08-25 00:00:00,20.5,19.2,92.0,0.0,<NA>,257.0,16.9,<NA>,1015.0,<NA>,8.0
2024-08-25 01:00:00,20.0,18.8,93.0,0.0,<NA>,278.0,22.0,<NA>,1015.8,<NA>,8.0
2024-08-25 02:00:00,18.7,17.4,92.0,0.0,<NA>,289.0,20.9,<NA>,1016.8,<NA>,8.0
2024-08-25 03:00:00,17.9,16.8,93.0,1.0,<NA>,288.0,21.2,<NA>,1018.1,<NA>,8.0
2024-08-25 04:00:00,16.2,14.4,89.0,0.5,<NA>,290.0,21.2,<NA>,1019.2,<NA>,7.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8781 entries, 2024-08-25 00:00:00 to 2025-08-25 20:00:00
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    8422 non-null   Float64
 1   dwpt    8422 non-null   Float64
 2   rhum    8422 non-null   Float64
 3   prcp    8781 non-null   Float64
 4   snow    0 non-null      Float64
 5   wdir    8422 non-null   Float64
 6   wspd    8422 non-null   Float64
 7   wpgt    0 non-null      Float64
 8   pres    8422 non-null   Float64
 9   tsun    0 non-null      Float64
 10  coco    8350 non-null   Float64
dtypes: Float64(11)
memory usage: 917.5 KB

In [33]:
na_cols = [col for col in df.columns if df[col].count() < 1000]
df = df.drop(na_cols, axis = 1)