In [7]:
from datetime import datetime
from meteostat import Point, Daily, Hourly
import pandas as pd

In [15]:
current_date = datetime.now()
start = datetime(current_date.year -1, current_date.month, current_date.day)
end = datetime(current_date.year, current_date.month, current_date.day, current_date.hour-1, current_date.minute, current_date.second)

print(start)
print(end)

2024-08-25 00:00:00
2025-08-25 19:23:44

In [16]:
data = Hourly('72219', start, end)
data = data.fetch()

df2 = pd.DataFrame(data)
df2.head()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2024-08-25 00:00:00,28.3,10.9,34.0,0.0,<NA>,100.0,14.8,<NA>,1020.9,<NA>,2.0
2024-08-25 01:00:00,26.7,11.6,39.0,0.0,<NA>,90.0,13.0,<NA>,1021.1,<NA>,2.0
2024-08-25 02:00:00,25.6,12.1,43.0,0.0,<NA>,90.0,9.4,<NA>,1021.6,<NA>,2.0
2024-08-25 03:00:00,24.4,12.7,48.0,0.0,<NA>,100.0,7.6,<NA>,1021.5,<NA>,1.0
2024-08-25 04:00:00,23.9,12.8,50.0,0.0,<NA>,90.0,9.4,<NA>,1021.8,<NA>,1.0